<div class="d-flex flex-column justify-content-between" style="height: 100vh">
  <div class="mb-4">
    <app-header [headerContent]="uiContent.header" (onSearch)="filterItems($event)" (onHomeClick)="resetItems()"></app-header>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-4 gx-2 g-md-2" *ngIf="items.length">
        <app-content-card *ngFor="let item of items" [item]="item" [appOrigin]="appSettings.appOrigin"></app-content-card>
      </div>
      <div *ngIf="!items.length">
        <h3 class="text-danger text-center fwb mt-5">Nie znaleziono wyników.</h3>
      </div>
    </div>
  </div>

  <app-footer [footerContent]="uiContent.footer"></app-footer>
</div>
